---
import Layout from '../layouts/Layout.astro';
---

<Layout 
    title="Code of Conduct | Hudson Valley Portfolio Reviews 2026"
    description="Code of Conduct for the Hudson Valley Portfolio Reviews."
>
    <section>
        <h2>Code of Conduct</h2>

        <p>
            Our mission is to create safe space for all where you are not discriminated on the basis of your identity, sexuality, physical appearance, race, disability, or age. In order to create a conducive environment to interact with a free and open mind, we adopt this code of conduct for the 2026 Hudson Valley Portfolio Reviews. It applies to all the events organized by the SUNY New Paltz Department of Design.
        </p>
        <p>
            For real discussions to take place, it is inevitable to have different expressions and opinions, however we will not tolerate any kind of harassment. In case of any instance of harassment, we will take strict action.
        </p>
        <p>
            In the interest of fostering an open and welcoming environment, we as organizers pledge to make participation in our community a harassment-free experience for everyone, regardless of age, identity, sexual identity, orientation, physical appearance, race, disability, or political leanings.
        </p>

        <h3>Unacceptable Behavior</h3>
        <p>
            We wish to create an inclusive and safe environment for women where they can learn and express. In order to achieve the same, we strongly refrain everyone from doing the following:
        </p>
        <ul>
            <li>Verbal comments that reinforce social structures of domination related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age, religion;</li>
            <li>Sexual images in public spaces;</li>
            <li>Deliberate intimidation;</li>
            <li>Stalking or following;</li>
            <li>Harassing photography or recording;</li>
            <li>Inappropriate physical contact or advances;</li>
            <li>Showing pornography;</li>
            <li>Unwelcome sexual attention;</li>
            <li>Advocating for, or encouraging, any of the above behavior;</li>
            <li>Causing injury to attendees; or</li>
            <li>Any form of physical violence</li>
        </ul>
        <p>All instances of abusive, harassing, or otherwise unacceptable behavior may be reported.</p>

        <h3>Positive Behavior</h3>
        <p>We strongly believe it's important to pay attention to harmful language patterns. We can try and build a conducive atmosphere, in order to do so we may keep in mind the following:</p>
        <ol>
            <li>Be audible and speak with clarity;</li>
            <li>Be a listener when someone is trying to say, and there might be people who are not very well versed in your language, be patient with them;</li>
            <li>Maintain your calm, address the issue;</li>
            <li>Disagreements happen; it’s okay to walk away from a conversation that isn't fruitful or is becoming tense;</li>
            <li>If you do not like a solution someone else is proposing, explain why or you may state an alternative;</li>
            <li>Do not assume anyone’s gender identity, sexual preference, survivor status, economic status, background, health status; or</li>
            <li>Make sure to refer to people by their preferred gender pronoun. (Some people don't identify with the sex they were assigned at birth, and others may prefer gender-neutral pronouns. You can ask people what their preferred gender pronoun is. Also, if you are unsure, address them by their name.)</li>
        </ol>

        <h3>Where to Report an instance of harassment? How?</h3>
        <p>If you are being harassed or you observe someone being harassed, please REPORT.</p>

        <p> Reports may be registered by taking following actions:</p>
        <ol>
            <li>If the incident involves a student or SUNY New Paltz faculty member, this could be a Title IX violation, please take it through the appropriate campus channels for that.</li>
            <li>Locating the event organizer on site, Shauna Keating. she can be identified by her blue hair and will be walking around the facility for the duration of the event to ensure things are going smoothly.</li>
            <li>Contact Shauna via email: keatings [at] newpaltz [dot] edu</li>
        </ol>

        <h3>Enforcement</h3>
        <p>Participants asked to stop any harassing behavior are expected to follow the request immediately. All complaints will be reviewed and investigated and will result in a response that is deemed necessary and appropriate to the circumstances.</p>
        <p><strong>Event organisers retain the right to take any actions to keep the event a welcoming environment for all participants.</strong> This includes warning the offender, expulsion from the conference/ event, mediation with the complainant / victim in the complaint and the person alleged to have participated in harassing or discriminatory behavior. However, to preserve both the safety and the confidentiality of the complainant / victim in the complaint, no specific action will be taken without consultation and their approval. Any illegal conduct will also be reported to local authorities if needed.</p>

        <h3>Scope</h3>
        <p>This code of conduct applies to all convening participants and all event-related staff. It applies to all convening-related activities related to the formal agenda; and informal gatherings at restaurants or bars following the event.</p>

        <h3>License and attribution</h3>
        <p>This CoC is released under the CC BY-NC-SA 4.0. CC BY-NC-SA 4.0. allows you to use, edit, or redistribute in any medium however you must give appropriate credit, provide a link to the license, and indicate the changes made. Also, it allows use for non commercial purposes only. Lastly, if you remix, transform, or build upon the material, you must distribute your creations under the same license as the original.</p>
    </section>
</Layout>